anonymous_enable=NO

local_enable=YES

write_enable=YES

pasv_min_port=40000
pasv_max_port=47400
local_root=/ftp

chroot_local_user=YES

chroot_list_enable=YES

chroot_list_file=/etc/vsftpd.chroot_list

local_umask=0002

sudo touch /etc/vsftpd.chroot_list 
sudo nano /etc/vsftpd.chroot_list

sudo systemctl reiniciar --now vsftpd

sudo openssl req - x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/ssl/private/vsftpd.pem -out /etc/ssl/private/vsftpd.pem
